<%- include('./header.ejs') %>
    <br><br><br>
    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul style="font-family: sans-serif; font-weight: bold;">
                                <li class="active"><a href="/dashboard" class="active nav-link">Dashboard</a></li>
                                <li><a class="nav-link" href="/adminBlogList">Blogs</a></li>
                                <li><a class="nav-link" href="/categories">Categories</a></li>
                                <li><a class="nav-link" href="/pages">Pages</a></li>
                                <li><a class="nav-link" href="/messageView">Messages</a></li>
                                <li><a class="nav-link" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <h1 style="font-family: sans-serif; font-weight: bold;">ADMIN DASHBOARD</h1>
                            <p>Welcome back to your blogging hub.
                                Manage posts, track stats, and create with ease.</p>
                            <div class="col-xs-12 text-center mb-5">
                                <h2 style="font-family: sans-serif; font-weight: bold;">Total Blogs</h2>
                            </div>

                            <div id="donut-chart"></div>
                            <script>
                                const chartData = <%- chartData %>;
                                let chart = bb.generate({
                                    data: {
                                        columns: chartData,
                                        type: "bar",
                                        onclick: {},
                                    },
                                    bar:{padding: 5},
                                    donut: {},
                                    bindto: "#donut-chart",
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../footer.ejs') %>