<%- include('./header.ejs')%>
  <br><br><br>
  <section class="cmspage mtb-40">
    <div class="container">
      <h1 style="font-family: sans-serif; font-weight: bold;">About</h1><br>
      <div class="page-desc" style="font-family: sans-serif;">
        <p>
          Welcome to <b>blogbyagurav</b> – a space Where ideas meet expression and words find purpose, practical insights,<br>
          and real conversations. Whether you’re here to learn something new, explore different perspectives, or simply<br>
          enjoy quality content, you’re in the right place.<br>
          <br>
          I’m <b>Gaurav Indoriya</b> – the developer of this website. this website isn't just about content – it's also a <br> reflection of my journey as a developer. I designed and developed this site using a modern web development stack: <br> <br>

          <b>Frontend:</b> HTML5, CSS3, and Bootstrap for responsive design and clean UI <br>
      
          <b>Backend:</b> Node.js and Express.js for building a fast and scalable server <br>
      
          <b>Database:</b> MySQL to manage and store blog data efficiently <br>
          <br>
          I believe in constant improvement, so if you come across a technical issue or something that doesn’t seem to<br>
          be working right, please don’t hesitate to let me know.<br>
        </p>
        <div>
          <p>
            <b>Email:</b> gaurav.indoriya@yahoo.com
            <br>
            <b>Mobile:</b> +91 9827324206 <br>
            <br>
            <b>Bug Reports:</b> Found a glitch or bug on the site? Kindly email me with the subject line "Bug Report - blogbyagurav" and I’ll work on it as soon as possible.
            <br><br>
            Thanks for visiting – I’m glad you’re here!
          </p>
        </div>
        </p>
      </div>
    </div>
  </section>
  <%- include('./footer.ejs')%>